.title-container {
  width: 494px;
  height: 37px;
  margin-left: 47px;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 34px;

  color: #00205B;
}