.image-title-container {
  position: relative;
  width: 494px;
  height: 127px;
  left: 47px;
  top: 238px;
  margin: 0px;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 34px;

  color: #FFFFFF;
}